.header-section.sticky-header {
    position: absolute;
    top: 40px;
    width: 100%;
    background: rgba(255, 255, 255, 0.7);
    z-index: 20;
}
.header-section.sticky-header .top-search{
    /*background: none;*/
    padding: none;
}
.h-full{
    height: 100%;
}
.gallery-filter .gf-item {
    width: 20% !important;
    box-sizing: border-box !important;
    margin: 0;
    padding: 0;
}
.blog-hero.set-bg{
    height: 90vh;
}
@media only screen and (max-width: 986px){
    .header-section.sticky-header{
        position: unset;
        top: unset;
        background: white;
    }
    .header-section.sticky-header .top-search {
        background-color: black;
    }
    
}